
  @media (min-width: 768px) {
  .gradient-form {
  height: 100vh !important;
  }
  }

  *{
    font-family: 'Space Grotesk', sans-serif;
    text-decoration: none;
  }

  .btn-custom {
    position: relative;
    overflow: hidden;
    color: white;
    animation: changeColor 2s ease-in-out infinite alternate;
    margin: 0;
    outline: none !important;
    border-radius: 50px;
  }
  
  .btn-custom:hover {
    color: white !important;
  }
  
  .btn-custom1 {
    position: relative;
    border-radius: 50px;
    color: #fff;
    animation: changeColor 2s ease-in-out infinite alternate, moveButton 1s ease-in-out infinite;
    animation-timing-function: ease-in-out;
  }

  .btn-custom1:hover {
    color: white !important;
  }
  
  
  @keyframes changeColor {
    0% {
      background-color: #533c8e;
    }
    50% {
      background-color: #760fa9;
    }
    100% {
      background-color: #533c8f;
    }
  }
  
  @keyframes moveButton {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .animated-block {
    opacity: 0;
    transform: translateX(-100%);
    animation-name: slideInFromLeft;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-delay: 0.2s;
  }

  .animated-text {
    opacity: 0;
    animation-name: jumpIn;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-delay: 0.5s;
  }

  @keyframes slideInFromLeft {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

 @keyframes jumpIn {
    0% {
      opacity: 0;
      transform: translateY(0) scale(1);
    }
    25% {
      transform: translateY(-30px) scale(1.2);
    }
    50% {
      transform: translateY(0) scale(0.8);
    }
    75% {
      transform: translateY(-10px) scale(1.1);
    }
    100% {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }

  .text-center h4{
    font-size: 2rem;
  }