
  @media (min-width: 768px) {
  .gradient-form {
  height: 100vh !important;
  }
  }

  *{
    font-family: 'Space Grotesk', sans-serif;
    text-decoration: none;
  }

  body {
    overflow-y: hidden;
  }

  .btn-custom {
    position: relative;
    overflow: hidden;
    background-color: #ff5f6d;
    color: white;
    animation: changeColor 2s ease-in-out infinite alternate;
    margin:0;
    outline: none !important;
    border-radius: 50px;
   
  }

  .btn-custom:hover{
    color: white !important;
  }
  
  @keyframes changeColor {
    0% {
      background-color: #533c8e;
      
    }
    50% {
      background-color: #760fa9;
  
    }
    100% {
      background-color: #533c8f;
      
    }
  }
  

  .btn-primary {
    position: relative;
    border-radius: 50px;
    animation-name: moveButton;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }

  @keyframes moveButton {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .btn-primary:hover:before {
    width: 100%;
  }

  .animated-block {
    opacity: 0;
    transform: translateX(-100%);
    animation-name: slideInFromLeft;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-delay: 0.2s;
  }

  .animated-text {
    opacity: 0;
    animation-name: jumpIn;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-delay: 0.5s;
  }

  @keyframes slideInFromLeft {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

 @keyframes jumpIn {
    0% {
      opacity: 0;
      transform: translateY(0) scale(1);
    }
    25% {
      transform: translateY(-30px) scale(1.2);
    }
    50% {
      transform: translateY(0) scale(0.8);
    }
    75% {
      transform: translateY(-10px) scale(1.1);
    }
    100% {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }

  .custom-nav {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 2px;
  }
  
  .custom-nav .nav-item {
    margin: 0 10px;
  }
  
  .custom-nav .nav-link {
    position: relative;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    overflow: hidden;
  }
  
  .custom-nav .nav-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-image: linear-gradient(to right, #9213c1, transparent);
    transform: translateX(-100%);
    transition: transform 0.3s;
  }
  
  .custom-nav .nav-link:hover::after {
    transform: translateX(0);
  }
  
  .text-center h4{
    font-size: 2rem;
  }